---
import ProductCard from '../components/ProductCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Organic Farming Products";

import tomatoImage from '../assets/Tomato.jpeg';
import potatoImage from '../assets/Potato.jpeg';
import appleImage from '../assets/Apple.jpeg';
import mangoImage from '../assets/Mango.jpeg';
import grapesImage from '../assets/Grapes.jpeg';
import bananaImage from '../assets/Banana.jpeg';
import orangeImage from '../assets/Orange.jpeg';
import carrotImage from '../assets/Carrot.jpeg';
import Milk from '../assets/Milk.jpeg'; 
import Cheese from '../assets/Cheese.jpeg';


---

<BaseLayout>
  <h1>All Products</h1>
  <section>
    <h2> Fruits </h2>
    <div>
    <ProductCard 
      title="Organic Apple" 
      description="Freshly picked organic apples from our farm." 
      image={appleImage}
      price="$5.99/kg"
    />
    <ProductCard 
      title="Organic Banana" 
      description="Sweet and nutritious organic bananas." 
      image={bananaImage}
      price="$3.99/kg"
    />
    <ProductCard 
    title="Organic Mango" 
    description="Juicy and delicious organic mangoes." 
    image={mangoImage}
    price="$4.99/kg"
    />
    </div>
  </section>
  <section>
    <h2> Vegetables </h2>
    <div>
    <ProductCard 
      title="Organic Carrot" 
      description="Crunchy and sweet organic carrots." 
      image={carrotImage}
      price="$3.99/kg"
    />
    <ProductCard 
      title="Organic Tomato" 
      description="Fresh and healthy organic tomato." 
      image={tomatoImage}
      price="$4.99/kg"
    />
    </div>
  </section>
  <section>
    <h2> Dairy Products </h2>
    <div>
    <ProductCard 
      title="Organic Milk" 
      description="Fresh and pure organic milk." 
      image={Milk}
      price="$6.99/litre"
    />
    <ProductCard 
      title="Organic Cheese" 
      description="Delicious and nutritious organic cheese." 
      image={Cheese}
      price="$7.99/500g"
    />
    </div>
  </section>  

</BaseLayout>

<style>
  section{
    margin: 10px;
    overflow-x: hidden;
  }
  section div{
    display: flex;
    overflow-x:scroll;
  }

</style>