---
import { Picture } from "astro:assets";
const { title, description, image, price } = Astro.props;
---
<div>
  <Picture src={image} alt={title}  id="Img"/>
  <h3>{title}</h3>
  <p>{description}</p>
  <p>{price}</p>
  <button>Add to Cart</button>
</div>

<style>
     #Img{
      height: 200px;
      width:200px;
      border-radius: 25%;
     }

     div{
      padding: 10px;
      margin:10px;
      background-color:lightgrey;
      border-radius: 2.5%;
     }

     button{
      cursor: pointer;
      border-radius: 5%;
      border-color: white;
      padding: 5px;
      background-color: #000000;
      color: white;
     }
</style>